<div class='row'>
  <div class='span8 well'>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <span class='quiet'>by</span> <%= comment.creator.username %>
      <small> at <%= format_timestamp(comment.created_at) %> </small>
    </p>
  </div>
</div>
