<div class='row'>
  <div class='span8 well'>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <span class='quiet'>by</span> <%= comment.creator.username %>
      <small> at <%= comment.created_at.strftime('%a %d %b %Y %r %Z') %> </small>
    </p>
  </div>
</div>
